<nav>
    <h2>GTM</h2>
    <% if(user) { %> 
        <div class="logout_shopCart">
            <a href="/fsdgsdg">
                <img src="/img/icons8-shopping-cart-96.png"href="/dgfdsghsdf alt="">
            </a>
            <a href="/logout" class="button" type="submit">Log out</a>
        </div>
  <% } else { %>
      <a class="button" href="/auth/login" >Login</a>
  <% } %>
  </nav>