
<% if(user && (user.role === "superAdmin" || user.role === 'admin')) { %> 
    <form class="postForm" action="/api/products" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="Cricket Helmet" required><br>
    
        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" name="price" value="44.99" required><br>
    
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="4" required><br>
    
        <label for="total">Total:</label>
        <input type="number" step="0.01" id="total" name="total" value="179.96" required><br>
    
        <label for="discountPercentage">Discount Percentage:</label>
        <input type="number" step="0.01" id="discountPercentage" name="discountPercentage" value="11.47" required><br>
    
        <label for="discountedTotal">Discounted Total:</label>
        <input type="number" step="0.01" id="discountedTotal" name="discountedTotal" value="159.32" required><br>
    
        <label for="thumbnail">Thumbnail URL:</label>
        <input type="url" id="thumbnail" name="thumbnail" value="https://cdn.dummyjson.com/products/images/mobile-accessories/Beats%20Flex%20Wireless%20Earphones/thumbnail.png" required><br>
    
        <button type="submit">Submit Product</button>
    </form>
  <% } %>
