

<% if(user) { %> 
    <h2>settings</h2>
    <div class="logout">
        <img src="/img/icons8-logout-100 (1).png" alt="">
        <a href="/logout" class="button" type="submit">Log out</a>
    </div>
    
<% }  %>