<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <title>Products</title>
  </head>
  <body>
    <%-include('navigation')%>
    <div class="cont">
      <%-include('sidebar')%>
      <div class="page">
        <h1>Users</h1>
        <%-include('users_cont',{users})%>
      </div>
    </div>
  </body>
</html>
